@import '../../variables.scss';

.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.categoryFilterItem {
  margin-top: 16px;
  margin-right: 15px;
  line-height: 28px;
}
