@import '../../variables.scss';

.mainContent {
  display: grid;
  margin-top: 40px;
  grid-gap: 16px;
  grid-auto-columns: 1fr;
  justify-items: center;
}

.filtersContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 24px;
}

.itemsContainer {
  display: grid;
  max-width: $desktop;
  width: 100%;
  padding-left: 0;
  grid-gap: 8px;
  list-style: none;
}

.productContainer {
  padding: 8px;
  border-bottom: 1px solid #989898;

  & > span:not(:first-child) {
    margin-left: 8px;
  }
}

.productName {
  font-weight: bold;
}
