@import '../../variables.scss';

.errorContainer {
  height: 450px;
  padding-top: 30px;
  text-align: start;
  color: $primary;
  background-image: url('../../asset/images/sad-cat.webp');
  background-repeat: no-repeat;
  background-position: top -23px left 400px;
  background-size: 460px auto;
}

.errorContainerText {
  width: 450px;
  padding: 15px 20px;
  background-color: $white;
  border: 2px solid $primary;
  border-radius: $border-radius-card;
}

.errorMessage {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

.buttonReload {
  min-height: 28px;
  margin-top: 15px;
  padding: 3px 10px 5px;
  font-size: 20px;
  font-weight: 600;
  color: $white;
  background-color: $orange;
  border: none;
  border-radius: 8px;
  transition-duration: $durationTime;
  transition-property: background-color, opacity;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: darken($orange, 10%);
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $max-width-tablet) {
  .errorContainer {
    background-position: top -10px left 400px;
    background-size: 40vw auto;
  }
}

@media (max-width: $max-width-phone) {
  .errorContainer {
    padding-top: 0;
    background-position: top 21.43vw center;
    background-size: 50vw auto;
  }

  .errorContainerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2.14vw 2.86vw;
  }

  .errorMessage {
    font-size: 2.86vw;
  }

  .buttonReload {
    min-height: 4vw;
    margin-top: 2.14vw;
    padding: 0.43vw 1.43vw 0.71vw;
    font-size: 2.86vw;
    border-radius: 1.14vw;
  }
}
