@import '../../variables.scss';

.status {
  margin-top: 16px;
}

.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.statusFilterItem {
  display: flex;
  align-items: center;
  height: 28px;
  margin-top: 16px;
  margin-right: 15px;
}

@media (max-width: $max-width-phone) {
  .status {
    margin-top: 25px;
  }

  .statusFilterItem {
    min-height: 40px;
    margin-top: 5px;
    margin-right: 15px;
    padding: 10px 0;
  }
}
