@import '../../variables.scss';

.label {
  padding: 4px 16px;
  font-size: 14px;
  line-height: 1.4;
  color: $primary;
  background-color: $white;
  border: 1px solid $primary;
  border-radius: 8px;
  transition-duration: $durationTime;
  transition-property: color, background-color, opacity;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: darken($primary, 10%);
  }

  &:active {
    opacity: 0.6;
  }
}

input:focus + .label {
  color: $white;
  background-color: darken($primary, 10%);
}

input:checked + .label {
  color: $white;
  background-color: $primary;

  &:hover {
    color: $white;
    background-color: darken($primary, 10%);
  }
}

input:checked:focus + .label {
  color: $white;
  background-color: darken($primary, 10%);
}

input:disabled + .label {
  opacity: 0.5;
  cursor: initial;

  &:hover,
  &:focus {
    color: $primary;
    background-color: $white;
  }
}
