@import '../../variables.scss';

.header {
  display: flex;
  background-color: $white;
  border-bottom: 1px solid $alto;
}

.headerWrapper {
  max-width: $desktop;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 22px 24px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.35;
}
