$desktop: 1393px;

//colors
$alto: #dddddd;
$alabaster: hsl(0, 0%, 98%);
$white: #ffffff;
$black: #000000;
$bali-hai: #889bb1;
$secondary-200: #a8b8ca;
$link-water: #e7eef9;
$panache: #e6f5e6;
$forest: #20b02e;
$orange: #ff9900;
$blue: #037bff;

//others
$durationTime: 0.4s;
$border-radius-card: 16px;
$box-shadow-card: 0px 16px 24px rgba($black, 0.04);
