$desktop: 1393px;

//colors
$alto: #dddddd;
$alabaster: hsl(0, 0%, 98%);
$white: #ffffff;
$black: #000000;
$bali-hai: #889bb1;
$casper: #a8b8ca;
$link-water: #e7eef9;
$panache: #e6f5e6;
$forest: #20b02e;
$orange: #ff9900;
