@import '../../variables.scss';

.mainContent {
  display: grid;
  max-width: $desktop;
  width: 100%;
  margin: 40px auto 10px;
  grid-row-gap: 40px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(3, 448px);
}

.filtersContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 24px;
}
