@import '../../variables.scss';

.mainContent {
  display: grid;
  max-width: $desktop;
  width: 100%;
  margin: 40px auto 10px;
  grid-row-gap: 40px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(3, 448px);
}

.filtersContainer {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 24px;
}

.itemsContainer {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-left: 0;
  grid-gap: 24px;
  list-style: none;
  grid-template-columns: repeat(3, 448px);
}

.productContainer {
  padding: 8px;
  border-bottom: 1px solid #989898;

  & > span:not(:first-child) {
    margin-left: 8px;
  }
}

.productName {
  font-weight: bold;
}
